*{
	margin: 0;
	padding: 0;
}
.left h1,
.left h2,
.left h3,
.left h4,
.left h5,
.left h6{
	margin-top: 3px;
}
.parent{
	display: flex;
}

.left{
	width: 35%;	
	margin-left:  8px;
}

.right {
	width: 65%;	
	margin-left:  30px;
	border-left: 2px solid black;
	padding-left:  25px;
	padding-right: 25px;
}

.a-text-2,.a-text-21{
	background-color: #daecda ;
	width: 140px;
}
.a-text,.a-text1{
	width:250px;
	background-color: #daecda ;
}
.p-text{
	width: 430px;
	background-color: #daecda ;/*#f0fff0;*/
	max-height: 100px;
    overflow-x: hidden;
}
.img-text,.img-text1,.img-text2{
	width:400px;
	background-color: #daecda ;/*#f0fff0;*/
}
.h-text{
	width: 320px;
	background-color: #daecda ;/*#f0fff0;*/
	text-align: center;
}
code {
	display: flex;
	align-items: center;
}
.tag{
	color: #ab1ea7;
    font-size: 20px;
    font-weight: 700;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.css{
	display: block;
}

.html-style{
	color: #ab1ea7;
	font-size: 20px;
    font-weight: 700;
}
.type{
	color:#d8d8d8;
	font-size: 20px;
    font-weight: 700;
}
.html-class{
	color: #bf5a09;
}
.body-html{
	margin-left: 30px;
}
.html-html{
	margin-left: 30px;
	display: inline-block;
}

.title-html{
	margin-left: 30px;
}

.black{
	color: #000;
}
.red{
	color: #cb0c12;
}

.paret-sm{
	display: flex;
	height: 610px;
	background-color: grey;
	margin-top: 25%;
}
.sm-left{
	width: 50%;
}
.sm-right{
	width: 50%;
}

.sm-right img{
	height: 342px;
    width: 100%;
}
.sm-left img{
	height: 610px;
    width: 575px;
}

.result_css_h1{
	color: orange;
	text-align: center;
	font-size: 32px;
	padding: 20px;
}

.result_p{
	color: pink;
	font-weight: bold;
}

.result_a{
	text-decoration: none;
	color: #000;
	background-color: grey;
	float: right;
	margin-right: 50px;
    margin-top: 20px;
}
@media only screen and (max-width: 1600px) {
  .right{
  	width: 100%;
  	border-left: 0px;
  	margin: 0;
  	padding: 0;
  }
  .parent{
  	display: block;
  }
}

